- include_vars: vault.yml

- name: Stop OpenHAB 2 service before continuing
  become: yes
  service:
    name: openhab2
    state: stopped

- name: See if configurations is a directory (then we nuke it next)
  shell: "[ -d {{ openhab_configuration_dir  }}] && echo 'Directory' || echo ''"
  register: is_directory

- name: create openHAB configrations directories
  file: path={{ openhab_configuration_dir}}/{{ item }} state=directory
  become: true
  become_user: openhab
  with_items:
    - items
    - persistence
    - transform
    - rules
    - scripts
    - sitemaps
    - templates
    - services
    - things

- name: sync setup into config
  template: dest={{ openhab_configuration_dir }}/{{item}} src=../templates/configurations/{{item}}
  become: yes
  become_user: openhab
  with_items:
        - items/huset.items
        - items/systeminfo.items
        - items/power.items
        - items/weather.items
        - items/floorHeating.items
        - items/roomba.items
        - items/alarm.items
        - items/speedtest.items
        - items/leaf.items
        - items/homekit.items
        - persistence/rrd4j.persist
        - persistence/influxdb.persist
        - rules/homekit.rules
        - rules/leaf.rules
        - rules/garage.rules
        - rules/heating.rules
        - rules/lights.rules
        - rules/proximity.rules
        - rules/security.rules
        - rules/status.rules
        - rules/modes.rules
        - rules/power.rules
        - rules/plex.rules
        - rules/weather.rules
        - rules/roomba.rules
        - rules/alarm.rules
        - rules/speedtest.rules
        - rules/habpanel.rules
        - scripts/pushMessages.script
        - scripts/alarm-climate.js
        - scripts/alarm.js
        - sitemaps/default.sitemap
        - transform/en.map
        - transform/getValValue.js
        - transform/motion.map
        - transform/no.map
        - transform/floor.map
        - transform/alarm.map
        - transform/roomba.map
        - transform/roombaStatus.map
        - services/samsungac.cfg
        - services/http.cfg
        - services/pushover.cfg
        - services/addons.cfg
        - services/influxdb.cfg
        - services/plex.cfg
        - services/denon.cfg
        - services/weather.cfg
        - services/runtime.cfg
        - services/addons.cfg
        - services/homekit.cfg
        - things/astro.things
        - things/systeminfo.things
        - things/samsungtv.things
        - things/hue.things
        - things/rfxcom.things
        - things/network.things

- name: sync alarm-api script into configurations
  become: yes
  become_user: openhab
  copy: dest={{ openhab_configuration_dir }}/scripts/alarm-api.js src=../templates/configurations/scripts/alarm-api.js

- name: sync transform setup into config
  copy: dest={{ openhab_configuration_dir }}/{{item}} src=../templates/configurations/{{item}}
  become: yes
  become_user: openhab
  with_fileglob:
        - transform/*

- name: sync openhab java opts
  become: yes
  template: dest="/etc/default/openhab2" src="../templates/openhab2"
